@charset "utf-8";
/*html {color:#000;background:#FFF}*/

.nav{
width: 1450px;
height: 142px;
		background:rgba(255, 255, 255, 0.85) none repeat scroll 0 0 ;
}
.nav .nav_t{
width: 1450px;
height: 90px;
border-bottom: 1px solid #F2F2F2;

	
}
.nav .nav_t .logo{
float: left;		
}
.nav .nav_t .logo a img{
display: block;
width: 170px;
height: 46px;
padding-top: 22px;

}
.nav .nav_t .top_nav__item{
float: left;
overflow: hidden;
}
.nav .nav_t .top_nav__item ul{
list-style: none;
margin-left: 30px;
height: 90px;

}

.nav .nav_t .top_nav__item ul li{
float: left;

}
.nav .nav_t .top_nav__item ul li a{
display: block;
padding: 0 19px;
text-decoration: none;
color: #333;
font-size: 18px;
line-height: 90px;

}
.nav .nav_t .top_nav__item ul li a:hover{
color:aliceblue; 
	background-color: #9370DB;
}
.nav .nav_t .top_nav__item ul li .current{
background-color: #9370DB;
color:white;

}
.nav .nav_t .top_nav__item ul li .current:hover{
color: white;
	
}
.nav .nav_t .search{
float: left;
overflow: hidden;
margin:26px 0 0 10px;
border: 1px solid #F2F2F2;
border-radius: 5px;
position: relative;

}
.nav .nav_t .search span{
	width: 40px;
	height: 40px;
	border:thin;
	color: #000000;
}
.nav .nav_t .search input{
width:360px;
height: 40px;
text-shadow: none;
border: 1px solid #999;
border-radius: 3px;
font-size: 14px;

}
.nav .nav_t .search i{
width: 17px;
height: 17px;
position: absolute;
right: 25px;
top: 15px;
background-repeat: no-repeat;
background-position: 0 -40px;
}
.nav .nav_t .header_buttons{
width: 260px;
height: 90px;
float: right;

}

.nav .nav_t .header_buttons a{
display: block;
float: left;
margin-top: 24px;
text-decoration: none;
color: #333;
font-size: 13px;
}
.nav .nav_t .header_buttons .sumbit{
margin-top: 0px;
font-size: 16px;
line-height: 90px;

}


.nav .nav_b{
width:auto;
height: 50px;
padding-left: 300px;

}
.nav .nav_b ul{
list-style: none;
}
.nav .nav_b ul li{
float: left;
margin-right: 47px;
line-height: 50px;
text-align: center;
}
.nav .nav_b ul li a{
text-decoration: none;
color: #333;
font-size: 15px;
}
.nav .nav_b ul li .current{
color:#9370DB ;
}
.nav .nav_b li a:hover{
color:#9370DB ;
}
/***************歌单推荐**********************************************/

.content{
width: 1450px;
height: 550px;
background:rgba(255, 255, 255, 0.6) none repeat scroll 0 0 ;
background-repeat: no-repeat;
background-position: center top;

}
.content .songSheet{
position: relative;
}
.content .songSheet .songSheet_head{
width: 100%;
height: 114px;


}
.subtitle{
display: block;
font-size: 30px;
font-weight: 400;
font-style: normal;
width: 196px;
height: 40px;
padding-top: 47px;
margin:0 auto;	
}


/****上面***************************************************/

.content .songSheet .songSheet_table{
height: 50px;
overflow: hidden;
}
.content .songSheet .songSheet_table ul{
width: 650px;
list-style: none;
margin: 0 auto;
font-size: 15px;

}
.content .songSheet .songSheet_table ul li{
float: left;
margin: 0 24px;
}
.content .songSheet .songSheet_table ul li a{
display: block;
text-decoration: none;
color: #333;
}
.content .songSheet .songSheet_table ul li .current{
color: #9370DB;
}
.content .songSheet .songSheet_table ul li a:hover{
color: #9370DB;

}
.content .songSheet .songSheet_pics{
width: auto;
height: 224px;
padding-bottom: 20px;
}
.content .songSheet .songSheet_pics ul{
list-style: none;

}
.content .songSheet .songSheet_pics ul li{
position: relative;
width: 224px;
height: 224px;
float: left;
margin-right:16px;
border-radius: 2px;
overflow: hidden;
} 

/* 鼠标指向图片 显示播放按钮及放大动画的实现 */
.cover_icon_play {
position: absolute;
left: 112px;
top: 112px;
margin: -35px;
width: 70px;
height: 70px;
filter: alpha(opacity=0);
opacity: 0;
transform: scale(.7) translateZ(0);
transition-property: opacity, transform;
transition-duration: .5s;
zoom:1
}

.mask {
position: absolute;
left: 0px;
top: 0px;
width: 224px;
height: 224px;
background-color: #000;
opacity: 0;
filter: alpha(opacity=0);
transition: opacity .5s;
transition:opacity .5s
}

.songSheet_pics ul li:hover .cover_icon_play {
opacity: 0.9;		/*opacity 设置一个div元素的透明度级别：*/
transform: scale(1) translateZ(0); /*Transform属性应用于元素的2D或3D转换。这个属性允许你将元素旋转，缩放，移动，倾斜等*/
	/*scaleZ(z)	通过设置 Z 轴的值来定义 3D 缩放转换    translateX(x)	定义转换，只是用 X 轴的值。*/
transition-property: opacity, transform;/*将鼠标悬停在一个div元素上，逐步改变表格的宽度  property定义应用过渡效果的 CSS 属性名称列表，列表以逗号分隔。将鼠标悬停在一个div元素上，更改宽度和高度用平稳过渡效果*/
transition-duration: 0.5s;/*最后0.5秒出现切换效果*/
cursor:pointer
}

.songSheet_pics ul li:hover .cover_icon_play, .cover_icon_play {
background-repeat: no-repeat;  /*repeat	背景图像将向垂直和水平方向重复。这是默认
repeat-x	只有水平位置会重复背景图像
repeat-y	只有垂直位置会重复背景图像
no-repeat	background-image 不会重复
inherit	指定 background-repeat 属性设置应该从父元素继承*/
}
.songSheet_pics ul li:hover .songSheet_pic{
transform: scale(1.06);
}

.songSheet_pics ul li:hover .cover_icon_play {
opacity: 1;
filter:none
}

.songSheet_pics ul li:hover .mask {
opacity: .2;
filter: alpha(opacity=20);
transition: opacity .5s;
transition:opacity .5s
}

/* 动画效果部分完结 */

.content .songSheet .songSheet_pics ul li img{
width: 224px;
height: 224px;
transition: all 0.6s;
}
.content .songSheet .songSheet_names{
width: auto;
height: 76px;
padding-bottom: 10px;
}
.content .songSheet .songSheet_names ul{
list-style: none;
margin-left: px;
}
.content .songSheet .songSheet_names ul li{
width: 224px;
position: relative;
float: left;
font-size: 14px;
font-weight: 400;
margin-right: 16px;
}
.content .songSheet .songSheet_names ul li a{
display: block;
text-decoration: none;
color: #333;
line-height: 22px;
}
.content .songSheet .songSheet_names ul li a:hover{
color:#9370DB;
}
.content .songSheet .songSheet_names ul li span{
display: block;
font-size: 14px;
line-height: 21px;
color: #999;
}

/* 左右按钮 */

.content .songSheet .songSheet_circles{
height: 38px;

}
.content .songSheet .songSheet_circles ol{
list-style: none;
width: 60px;
height: 10px;
margin: 15px auto;
line-height: 38px;


}
.content .songSheet .songSheet_circles ol li{
float: left;
margin: 0 10px;
width: 10px;
height: 10px;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.content .songSheet .songSheet_circles ol .current{
background-color: rgba(0,0,0,.3)
}

.content .songSheet .carrousel a{
display:block;
width: 20px;
height: 38px;
position: absolute;
top: 250px;
background-repeat: no-repeat;
}

.content .songSheet .carrousel .leftBtn{
left:-80px;
background-position: -20px -120px;
}
.content .songSheet .carrousel .rightBtn{
right: -80px;
background-position: 0 -120px;
}
/********************新歌首发*********************************************/

.content .songSheet .new h2 span{
background-position: 0 -50px;
} 
.content .songShee .playall a{
display: block;
width: 75px;
height: 36px;
position: absolute;
z-index: 3;
}
.content .songSheet .area ul{
width: 390px;
margin-top: 30px;
}

.content .songSheet .playall{
position: absolute;
left: 0;
top: initial;
border: 1px solid #c9c9c9;
color:black;
margin-top: 20px;
border-radius: 2px;
font-size: 14px;
margin-right: 6px;
padding: 0 23px;
height: 38px;
line-height: 38px;
display: inline-block;
white-space: nowrap;
box-sizing: border-box;
overflow: hidden;
transition: all 0.6s;
filter: brightness(100%);
text-decoration: none;
}
.content .songSheet .playall:hover{
background-color: #ededed;
filter: brightness(95%);	/* brightness(%)给图片应用一种线性乘法，使其看起来更亮或更暗。如果值是0%，图像会全黑。值是100%，则图像无变化。其他的值对应线性乘数效果。值超过100%也是可以的，图像会比原来更亮。如果没有设定值，默认是1*/
	/*https://www.runoob.com/cssref/css3-pr-filter.html*/
}

.content .songSheet .newsongs{
width: 1230px;
height: 333px;
}
.content .songSheet .newsongs ul{
list-style: none;
margin-top: 40px;

}
.content .songSheet .newsongs ul li{
width: 410px;
height: 86px;
float: left;
font-size: 14px;
color: #333;
position: relative;
border-top: 1px solid #ededed;
padding: 10px 0 10px 0;
}
.content .songSheet .newsongs ul .firstline{
border-top: none;
}
.content .songSheet .newsongs ul  li .current{
color: #9370DB;
}
.content .songSheet .newsongs ul li img{
width: 86px;
height: 86px;
float: left;
transition: all 0.6s;
}
/* 鼠标指向图片 显示播放按钮及放大动画的实现 */

/*
.cover_icon_play2 {
position: absolute;
left: 17px;
top: 30px;
margin: -13.4375px;
width: 86px;
height: 86px;
filter: alpha(opacity=0);
opacity: 0;
transform: scale(.1) translateZ(0);
transition-property: opacity, transform;
transition-duration: .5s;
zoom:1
}
*/

.mask2 {
position: absolute;
left: 0px;
top: 10px;
width: 86px;
height: 86px;
background-color: #000;
opacity: 0;
filter: alpha(opacity=0);
transition: opacity .5s;
transition:opacity .5s
}

.content .songSheet .newsongs ul li:hover .cover_icon_play2 {
opacity: 0.9;
transform: scale(0.5) translateZ(0);
transition-property: opacity, transform;
transition-duration: .5s;
cursor:pointer
}

.content .songSheet .newsongs ul li:hover .cover_icon_play2, .cover_icon_play2 {
background-repeat: no-repeat;
}
.content .songSheet .newsongs ul li:hover .newsongs_pics{
transform: scale(1.06)
}
.content .songSheet .newsongs ul li:hover .cover_icon_play2 {
opacity: 1;
filter:none
}

.content .songSheet .newsongs ul li:hover .mask2 {
opacity: 0.2;
filter: alpha(opacity=20);
transition: opacity .5s;
transition:opacity .5s
}

/* 动画效果完结 */
.content .songSheet .newsongs ul li a{
display: block;
width: 310px;
line-height: 22px;
float: left;
padding: 20px 0 0 10px;
text-decoration: none;
color: #333;
}
.content .songSheet .newsongs ul li .songer{
color: #999;
padding-top: 0px;
}
.content .songSheet .newsongs ul li a:hover{
color:#9370DB;
}
.content .songSheet .newsongs ul li span{
display: block;
position: absolute;
right: 35px;
top: 45px;
color: #999;
font-family: "poppin";
}
.content .songSheet .songSheet_circles .four{
width: 120px;
}
.banquan{					/*版权声明*/
	clear:both;
	width:1450px;
	height:30px;
	text-align:center;
	font-size:15px;
	color:#FFFFFF;
	/*background-color:#819B9B;*/
/*	background-color: #000000;*/
	background:rgba(35, 35,35, 0.89) none repeat scroll 0 0 ;
	}


.user {				/*右上角用户头像*/
    cursor: pointer;/*cursor定义了用户鼠标放到一个元素边界所用的光标形状  https://www.runoob.com/cssref/pr-class-cursor.html*/
    position: relative;/*position属性指定一个元素（静态的，相对的，绝对或固定）的定位方法的类型。relative生成相对定位的元素，相对于其正常位置进行定位。

因此，"left:20" 会向元素的 LEFT 位置添加 20 像素。*/
    top: -40px;
    right: -127px;
    float: left;
    font-size: 14px;
}
.user img {
    height: 50px;
    width: 50px;
    border-radius:60%;/*半径*/
    margin-top: 60px;

}
.user .un {
   position: relative;
	float: left;
    top: -12px;
    right: -9px;
	 
}
#login{
    position: absolute;
    left: 25px;
    top:40px;
    height: 16px;
    width: 16px;
}
a{
	text-decoration:none;
	color:#B874F3;
	}
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,input,textarea,p{margin:0 auto;padding:0}
table{border-collapse:collapse;border-spacing:0}
.songSheet{
	width:1200px;
	}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}#yui3-css-stamp.cssreset{display:none}
