@charset "utf-8";
/* CSS Document */
.main_{
	width: 1450px;
	height:auto;
}
.list_1{
	width: 1450px;
	height: 60px;
	background:rgba(255, 255, 255, 0.6) none repeat scroll 0 0 ;
	font-size: 18px;
	
}
.list_2{
	width: 1450px;
	height: 60px;
	background:rgba(216,216,216, 0.7) none repeat scroll 0 0 ;
		font-size: 18px;
}
.main_ table td{
	text-align: center;
	width: 25%;	
}
.main_ table td li{
	float: left;
	padding-left: 15%;
}
.main_ table tr a:hover{
	color: #F59CF9;
}

#gd_top{
	background-color:#FFFFFF;
	font-size: 29px;
}

.gq{
	font-size: 24px;
	width: 480px;
	height: 100%;
	float: left;
	
	background-color: aqua;
}
.gs{
	font-size:24px;
	width: 480px;
	height: 100%;
	float: left;
	background-color: aquamarine;
}
.sc{
	font-size: 24px;
	width: 480px;
	height: 100%;
	float: left;
	background-color: chartreuse;
}
